<% layout('layouts/boilerplate')%>
<div class="conatiner">
    <div class="row">
        <div class="col-6 m-auto">
            <div class="card shadow mb-3">
                <h2 class="text-center m-4">Edit Campground</h2>
                <div class="card-body">
                    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate
                        class="validated-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label class="form-label" for="title">Title</label>
                            <input class="form-control" type="text" id="title" name="campground[title]"
                                value="<%=campground.title %>" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="location">Location</label>
                            <input class="form-control" type="text" id="location" name="campground[location]"
                                value="<%=campground.location %>" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="price">Campground Price</label>
                            <div class="input-group">
                                <span class="input-group-text" id="price-label">$</span>
                                <input type="text" class="form-control" id="price" placeholder="0.00"
                                    aria-label="price" aria-describedby="price-label" name="campground[price]"
                                    value="<%=campground.price %>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="location">Phone</label>
                            <input class="form-control" value="<%= campground.phone %>" type="text" id="location" name="campground[phone]"
                                required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="">Booking Window</label>
                            <div class="form-row d-flex">
                                <div class="form-group mr-2">
                                    <input type="text" value="<%=campground.booking.start%>" class="form-control" name="campground[booking][start]" placeholder="Starting Month" required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" value="<%=campground.booking.end%>" class="form-control" name="campground[booking][end]" placeholder="Ending Month" required>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" type="text" id="description"
                                name="campground[description]" required><%= campground.description%></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-file custom-file">
                                <label for="image" class="form-label">Choose images</label>
                                <input class="form-control" type="file" name="image" id="image" multiple>
                            </div>
                        </div>
                        <div class="mb-3">
                            <% campground.images.forEach(function(img, i) { %>
                                <img src="<%=img.thumbnail %>" class="img-thumbnail" alt="">
                                <div class="form-check-inline">
                                    <input type="checkbox" id="image-<%=i%>" name="deleteImages[]"
                                        value="<%=img.filename%>">
                                </div>
                                <label for="image-<%=i%>">Delete?</label>
                                <% })%>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-info">Update Campground</button>
                            <a href="/campgrounds/<%= campground._id%>" class="btn btn-secondary">Back To Campground</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>